﻿body {
    background-color:#000000;
    color:gray;
    /* cursor:crosshair; */
    cursor: url(../images/cursor_cross.cur), auto;    
    /* height: 100vw; */
    outline: none !important;
    outline-width: 0 !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

#splashExt {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000000;
    opacity: 1;

}

#splashExt div {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px;   
    color: #ccc;
}

.calibrationGrid {
    z-index:10;
    border-color:red;
    border-width: 100px;
}

#calibrationGrid {
    z-index:10;
    border-color:red;
    border-width: 100px;
}

#header {
    position: absolute;
    width: auto;
    height: auto;
    text-align: center;
}

#gui {
    right: 0;
    position: absolute;
    top: 0;
    z-index:100;
}

#indexCanvas {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    border:1px solid #ffffff;
    border-color:antiquewhite;
}
#depthCanvas {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    border:1px solid #ffffff;
    border-color:antiquewhite;
    transform: scale(0.5,0.5);
    transform: translate(200, 100);
    visibility:hidden
}




#controls {
    position: absolute;
    float: right;
    padding-right: 10px;
    z-index: 100;
}

.settings_title {
    font-size: 18px;
    /* line-height: 1.0; */
    color: lightblue;
    text-align: center;
    /* margin-bottom: 10px; */
}

.settings_title_2 {
    font-size: 18px;
    line-height: 1.0;
    color: lightblue;
    text-align: center;
    margin-top: 5px;
    /* margin-bottom: 10px; */
}

.seperator {
    font-size: 18px;
    line-height: 1.0;
    color: lightblue;
    text-align: center;
    margin-top: 5px;
    opacity: 0.0;
    /* margin-bottom: 10px; */
}

.settings_title_sub {
    font-size: 16px;
    color: #bbbbbb;
    text-align: left;
    margin-bottom: 10px;
}

.addable_object_inner_block {
    background-color: black;
    padding: 10px;
}

/* .paramsLabel {

    font-size: 20px;
    color: antiquewhite;
} */

.fileLoaderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    margin: 5px 10px 5px 0px;
    position: relative;

}

.fileLoaderlabel {
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    padding-left: 5px;
}

.fileLoaderInput {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.colorBlockWrapper {
    display: grid;
    align-items: flex-start;
}

.colorInputBlock {
    /* display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto; */
    /* margin: 10px 1px 5px 0px; */
    position: relative;
    display: grid;
    grid-column: 1;
}

.colorInputLabel {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  padding-left: 5px;
}
.colorInputBox {
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: center;
  width: 102; 
  padding: 2;
  box-shadow: none;
   /* shadow: false;
   borderWidth: 2; */
   background-color: black;
   /* inset-color: '#000'; */
   width: 125px;
}

.colorPickerInput {
    width: 40px;
    grid-column: 2;
}

.hsvInputBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1; */
    /* margin: 10px 10px 10px 0px; */
    position: relative;
    grid-column: 2;
}

.subHSVInputBlock {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1;
    margin: 1px 5px 10px 5px;
    position: relative;
}

.hsvInputLabel {
    justify-self: center;
    margin: 0px 5px;
}
.hsvInputBox {
    width: 40px;
    height: 14px;
}

.checkboxInputBlock {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    margin: 2px 4px 2px 0px;
    position: relative;
}

.checkboxInputBlockInlineFlex {
    display: inline-flex;
    margin: 2px 4px 2px 0px;
    position: relative;
}

.checkboxInputLabel {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  padding-left: 5px;
}

.checkboxInputLabel_ObjectControl {
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    color: #a9a9a9;
    font-size: 18px;
    font-style: bold;

}
.checkboxInputLabel_ObjectControl:hover {
    cursor: pointer;
}

.checkboxInputLabel_ObjectControl_selected {
    color: white;
    font-weight: bold;
    /* background-color: #555555; */
}

.checkboxInputBox {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: right;
  align-self: center;
}

.dropdownInputBlock {
  display: grid;
  grid-template-columns : 1fr 1fr;
  grid-template-rows: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 10px;
  position: relative;
}

.dropdownInputLabel {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  /* padding-left: 5px; */
}

.dropdownInputBox {
  grid-row-start: 1;
  grid-column-start: 3;
  justify-self: stretch;
  align-self: center;
}

.buttonInputBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* margin: 10px; */
    position: relative;
}
.buttonInputBlock input[type=button] {
    min-width: 80px;
}

.buttonInputBlockDouble {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 10px;
    position: relative;
}

.buttonInputBlockDouble input[type=button] {
    min-width: 60px;
}

.buttonInputLabel {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  padding-left: 5px;
  
}

.buttonInputBox {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.buttonInputBoxLeft {
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}
.buttonInputBoxRight {
  grid-row-start: 1;
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

.sliderInputBlock {
   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 10px;
  position: relative;
}

.simple-text-label {
    padding-left: 5px;
}

.sliderInputBox {

}

.sliderInputBoxInline {
    display: inline-block;
    width: 98px;
}

.sliderInputLabel {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  padding-left: 5px;
}

.sliderInput {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
}

.controlHolder{
    position: relative;
    /* display: inline-block; */
}

.controlHolder-flex{
    position: relative;
    display: inline-flex;
}



.guiLabelValue{
    float: right;
    /*right: 0px;
    margin-right:  0px;*/
    padding-right: 5px;
    /*background: transparent;
    color: #aaa;*/
}



#myGrid {
    display: grid;
    background: #1e1e1e;  
    /* grid-template-columns: 200px 680px 680px 340px;   */
    grid-template-rows: 45px auto auto auto;
    /* margin: 5px; */
    padding: 10px;
    /* height: 100%; */
    /* overflow-y: scroll; */
}

#column1 {
    display: grid;
    grid-template-columns: auto;  
    grid-template-rows: 650px 105px auto;
    grid-row-start: 2;
    grid-column-start: 1;
    padding: 5px;
    width: 180px;
}

#column2 {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    /* grid-template-columns: 1fr 1fr;   */
    grid-template-rows: auto;
    justify-self: center;
    align-self: start;
    padding: 5px;
}

/* #lightsBlock {
    grid-column-start: 2;
} */

#column3 {
    display: grid;
    grid-template-columns: auto;  
    grid-template-rows: auto auto auto;
    grid-row-start: 2;
    grid-column-start: 3;
    padding: 5px;
    justify-self: center;
    align-self: start;
}

#column4 {
    display: grid;
    grid-template-columns: auto;  
    grid-template-rows: auto auto auto auto;
    grid-row-start: 2;
    grid-column-start: 4;
    padding: 5px;    
}

#headerMenu {
    background: black;
    border: white solid 1px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: stretch;
    align-self: stretch;
    padding: 5px;
    height: 30px;
    margin: 0px 5px;
}

#preset_buttons_existing {
    max-height: 580px;
    overflow: auto;
}

#presetButtons {
  background: black;
  border: white solid 1px;
  grid-row-start: 1;
  grid-column-start: 1;
  /* grid-column-end: 8; */
  justify-self: stretch;
  align-self: stretch;
  /* padding: 10px; */
  min-height: 400px;
}

.presetButtonDefault {

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
    min-width: 90px;
    max-width: 125px;
    border-color: grey;
    color:grey;
    padding-left: 10px;

}

.cursorPointer {
    cursor: pointer;
}

.addPresetButton {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    background-color: #000000;
    color: #ffffff;
    border-color: grey;
    font-size: 20px !important;
    line-height: 1.0 !important;
    padding: 0px 4px 4px 4px !important;
}

#autoswitch_controls {
    background: black;
    border: white solid 1px;
    grid-row-start: 3;
    grid-column-start: 1;
    /* grid-column-end: 8; */
    justify-self: stretch;
    align-self: stretch;
    /* padding: 10px; */
    height: 160px;
}

#presetControlOptions {
    background: black;
    border: white solid 1px;
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: stretch;
    align-self: stretch;
    padding: 10px;
    /* height: 100px; */
}

.presetcontrol-button {
    color: #bbbbbb;
    background-color: #000000;
    border-color: #bbbbbb;
    /* width: 160px; */
    margin: 5px 0px 5px 10px;
}

.panoramaTextureButtonsBlock {
    position: relative;
    margin: 5px;
}

.panoramaButton {
    position: relative;
    display: inline-block;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}


#footer {
    min-height: 30px;
    margin: 10px;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 8;
}



 /* permanent settings block */
#permanent_settings_block {

    background: black;
    border: white solid 1px;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    align-self: start;
    padding: 5px;

}
#permanent_settings_block_container { 

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto ;
    
}

#permanent_settings_left_panel {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    align-self: start;
    /* padding: 10px; */
    /* width: 280px; */
    padding-left: 5px;
    min-width: 220px;
}
#permanent_settings_right_panel {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: center;
    align-self: start;
    /* padding: 10px; */
    /* width: 280px; */
    min-width: 220px;
}
#permanent_settings_panel_3 {
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: center;
    align-self: start;
    /* padding: 10px; */
    /* width: 280px; */
    min-width: 220px;
    padding-right: 5px;
}
#permanent_settings_panel_4 {
    grid-row-start: 1;
    grid-column-start: 4;
    justify-self: center;
    align-self: start;
    /* padding: 10px; */
    /* width: 280px; */
    min-width: 220px;
    padding-right: 5px;
}


/* material sidebar */
#materialSettingsBlock {
    background-color: rgba(50, 50, 50, .9);
    padding: 10px;
}

#material_sidebar_block {
    background: #212121;
    border: rgb(212, 212, 212) solid 1px;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 310px;
    justify-self: center;
    align-self: start;
    /* align-self: stretch; */
    padding: 10px;
}



/* camera params */
#camera_settings_panel {   
  /* background: #212121; */
  /* border: blue solid 1px; */
  /* grid-row-start: 4; */
  /* grid-column-start: 1; */
  justify-self: center;
  align-self: start;
  /* padding: 10px; */
  margin-bottom: 10px;
}

/* depth params */
#depth_settings_panel {   
  /* background: #212121; */
  /* border: blue solid 1px; */
  /* grid-row-start: 4; */
  /* grid-column-start: 1; */
  justify-self: center;
  align-self: start;
  /* padding: 10px; */
  margin-bottom: 10px;
}

/* global params */
#global_settings_panel {    
    justify-self: center;
    align-self: start;
    margin-bottom: 10px;
}


/* lights block */
#spacer1_3 {   
  background: #000000;
  border: gray solid 1px;
  grid-row-start: 5;
  grid-column-start: 1;
  justify-self: center;
  align-self: start;
  padding: 10px;
}

#additionalControls {
  border: blue solid 1px;
  grid-row-start: 2;
  grid-column-start: 1;
  align-self: start;
  margin: 5px;
}



#scene_objects_panel {
    background: #212121;
    border: rgb(211, 211, 211) solid 1px; 
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 600px; */
}

#scene_objects_container {
    grid-column: 1;
    min-width: 240px;
}

#scene_lights_container {
    grid-column: 2;
    /* min-width: 240px; */
    margin-left: 5px;
}

.addable_object_block {

}
.addable_object_block_lights {

}

/* program params */
#column2spacer1 {
  background: #212121;
  border: blue solid 1px; 
  padding: 10px;
}

#logoButtons {
  background: black;
  /* border: white solid 1px; */
  grid-row-start: 1;
  grid-column-start: 1;
  /* grid-column-end: 3; */
  /* width: 310px; */
  /* height: 30px; */
  justify-self: center;
  align-self: center;
  /* padding: 10px; */
  margin: 5px;
}

#postfx_settings_panel { 
    background: #000000;
    /* border : yellow solid 1px; */
    grid-row-start: 2;
    grid-column-start: 1;
    /* grid-row-start-span: 3; */
    /* width: 310px; */
    justify-self: center;
    align-self: start;
    /* padding: 5px; */
    margin: 5px;
    margin-bottom: 30px;
}

#depth_postprocessing_panel {
    background: #000000;
    grid-row-start: 1;
    grid-column-start: 1;
    /* grid-row-start-span: 3; */
    /* width: 310px; */
    justify-self: center;
    align-self: start;
    /* padding: 5px; */
    /* margin: 5px; */
    margin-bottom: 30px;
}

#depth_fx_panel {
    background: #000000;
    grid-row-start: 1;
    grid-column-start: 1;
    /* grid-row-start-span: 3; */
    /* width: 310px; */
    justify-self: center;
    align-self: start;
    /* padding: 5px; */
    /* margin: 5px; */
    margin-bottom: 30px;
}

#midiSettings {

  display: grid;
  grid-template-columns: auto auto;    
  grid-template-rows: auto auto auto auto auto;

  background-color: black;
  border: #555 solid 1px;
  position: absolute;
  z-index: 1001;
  /*padding: 15px;*/
  /*max-width: 500px;*/
}

#midiSettingsTitle {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  margin-top: 20px;
}

#midiSettingsControlView {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-self: stretch;
  padding: 15px;
}

#midiSettingsRenderView {
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: stretch;
  padding: 15px;
}

#midiSettingsOkButton {
  grid-row-start: 6;
  grid-column-start: 2;
  width: 90px;
  margin: 15px;
  justify-self: end;

}

.devicesList {
    width: 250px;
}

#channelList {
    width: 60px;
}

#portInitLog {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 30px;
  margin: 15px;
  justify-self: start;
  max-width: 500px;

}



#handsDebugUI{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    left: 0px;
    top: 0px;
    z-index:1001;
    background-color: #222222;
    padding: 10px;
}

#oscSettings{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    left: 0px;
    top: 0px;
    z-index:1001;
    background-color: #333333;
    padding: 10px;
    padding-bottom: 30px;
}

.osc-settings-label {
    display: inline-block;
    width: 120px;
}
.osc-settings-input {
    display: inline-block;
    width: 110px;
}
.oscInputBox {
    width: -webkit-fill-available;
}

.osc-settings-span {
    margin-right: 70px;
}

.handColumn{
    display: inline-block;
    margin: 10px;
}

.selectorHolder{
    margin: 4px;
    padding-right: 30px;
}

.handDebugInfo{
    display: inline-block;    
    background-color: #ffffff;
    color: black;
    /* font-size: 25px; */
    height: 25px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
}

.controllerSelector{
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    /* height: 28px; */
    /* font-size: 20px; */
    min-height: 27px;
}

.handDebugInfoLabel{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.sendMidiHandCheckbox{
    width: 28px;
    height: 28px;
}

.btJointTypeLabel {
    display: inline-block;
    width: 75px;
    height: 25px;
    text-align: left;
    padding-left: 5px;
    vertical-align: middle;
    /* background-color: white; */
}

.btJointListSelector {
    width: 140px;
}

.btSettingsLabel {
    display: inline-block;
    width: 280px;
}

.btConstraintBorderLabel {
    display: inline-block;
    width: 20px;
}

.selectorHolderBT {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btSpaceTypeSelector {
    width: 280px;
}

#btTemporalSmoothingInput {
    display: inline-block;
    width: 280px;
}

#btTemporalSmoothingValue {
    display: inline-block;
    width: 50px;
}



/* overrides ui-black-mika.css */
input[type=range] {
    width: -webkit-fill-available !important;
    /* height: auto;
    padding: 0px 0 5px 0;
    margin-top: 0px;
    margin-bottom: 0px; */
    /* width: 280px; */
    -webkit-appearance: none;
    background: transparent;
    padding: 1px 4px 3px 4px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8.4px;
    /* cursor: pointer; */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  
    border: 1px solid #000000;
    height: 20px;
    width: 12px;
    border-radius: 0.1px;
    background: #ffffff;
    /* cursor: pointer; */
    -webkit-appearance: none;
    margin-top: -6px;
}

.effectParamsBlock {

    padding: 5px;
    background-color: rgba(50, 50, 50, .9);
}
.labelSliderPostFx {
    padding-left: 5px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    background: white;
    color: black;
    line-height:1.5em;
    text-align: center;

}
input[type="checkbox"]:checked {
    color: black;

}

input[type="checkbox"]:before, 
input[type="checkbox"]:checked:before {
    /* position:absolute; */
    /* top:0;
    left:0;
    width:100%;
    height:100%; */
    
    color:rgb(0, 0, 0);
    /* content: ''; */
}

input[type="checkbox"]:checked:before {
    content: '✓';
    color: black;
    font-weight: bolder;
    font-size: 18px;
    /* line-height:2em; */
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.buttonTopBar {

}

#MIDISettingsButton-active {
    
}

.standard-button {
    color: #bbbbbb;
    background-color: #000000;
    border-color: #bbbbbb;
    min-width: 60px;
}

