
.highLightControl {

    background: aqua !important;
    opacity: 0.5;
}

.mappingModeControlSelected {

    background-color: aqua;
    opacity: 1.0;

}

.highLightControl_OSC {

    background: lightsalmon !important;
    opacity: 0.5;
}

.mappingModeControlSelected_OSC {

    background-color: lightsalmon;
    opacity: 1.0;

}

.midiMapCue{
    position: absolute;
    display: inline-block;
    font-size: 14px;
    width: 20px;
    height: 20px;
    left: 0px;
    bottom: 20px;
    z-index: 10000;
    color: black;
    background-color: aquamarine;
    text-align: center;
    opacity: 0.9;
}

.oscMapCue{
    position: absolute;
    display: inline-block;
    font-size: 12px;
    /* width: -webkit-fill-available; */
    height: 17px;
    left: 0px;
    bottom: 10px;
    /* z-index: 10000; */
    color: black;
    background-color: salmon;
    text-align: left;
    opacity: 0.9;
    padding: 0px 5px 0px 5px;
}