body, html {
      box-sizing: border-box;
      background-color:black;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    #outputCanvas {
      width: 100vw;
      height: 100vh;
      display: block;
      transform: scaleX(-1);
      cursor: crosshair;
    }

    #statsContainer {
      z-index:10;
      position: absolute;
      top:0;
    }

    .stats {
        color: lightgrey;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .send-message{
      z-index:10000;
      position: absolute;
      top:0;
      /* margin-left: auto;
      margin-right: auto; */
      right:0px;
    }

    button {
      border: none; /* Remove borders */
      padding: 14px 28px; /* Add some padding */
      cursor: pointer; /* Add a pointer cursor on mouse-over */
      background-color: #e7e7e7; 
      color: black;
    }
    button:hover {background: #ddd;}