html {

    margin: 0px;
   
    padding: 0px;
   
   }
   
   
   
   body {
   
    padding: 0px;
   
    margin: 0px;
   
    background-color: #2D2D30;
   
    /* border: 1px solid rgb(37, 37, 37); */
   
    position: absolute;
   
    top: 0px;
   
    left: 0px;
   
    right: 0px;
   
    bottom: 0px;
   
   }
   
   
   
   #title-bar {
    /* -webkit-app-region: drag; */
    

    height: 32px; 
    width: 100%;
   
    padding: 0px;

    /* margin: 1px; */

    background-color: rgb(26, 26, 26);
   
    color: #ADADAD;
   
    font-family: sans-serif;

    opacity: 0.0;

    z-index: 100;

    position: absolute;

    -webkit-app-region: drag;
    
    cursor: grab;
   }

   #title-bar:hover {
    opacity: 1.0;

    cursor: grab;
   
   }
   
   
   
   #title {
   
    position: absolute;
   
    top: 0px;
   
    left: 12px; 
   
    line-height: 32px;
   
    font-size: 14px;
   
   }
   
   
   
   #title-bar-btns {
   
    -webkit-app-region: no-drag;
   
    position: fixed;
   
    top: 0px;
   
    right: 5px; 
    
   
   }
   

   #title-bar-btns button {
   
    height: 32px;
   
    width: 32px;
   
    background-color: transparent;
   
    border: none;
   
    color: #F1F1F1;
   
    font-size: 16px;

    padding: 0px 20px;
   
   }
   #title-bar-btns button:focus {
       outline: none;
   }
   
   #title-bar-btns button:active {
       opacity: 0.5;
    }

    #title-bar-btns button:hover {
        opacity: 0.5;
     }

   .ui-btn svg polygon {
	fill: #fff;
    }

    .ui-btn {
        margin: 0;
        width: 38px;
        height:20px;
        border: 0;
        outline: 0;
        background: transparent;
    }
    .ui-btn:hover {
        background: rgba(255,255,255,.1);
    }
    .ui-btn.close:hover {
        background: #e81123;
    }
    .ui-btn svg path, 
    .ui-btn svg rect, 
    .ui-btn svg polygon {
        fill: #fff;
    }
    .ui-btn svg {
      width: 10px;
      height: 10px;
    }

    .ui-titlecontrols {
        max-width: 114px;
        max-height: 32px;
        flex-grow: 1;
    }
